.register-container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .register-container {
        min-height: calc(100vh - 1rem);
    }
}
