.sidebar {
    width: 90px;
    min-height: 95vh;
    background-color:hsl(0, 0%, 13%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1rem;
    border-radius: 1.5rem ;
}

.sidebar-logo-img {
    width: 65px;
}

.sidebar-logo {
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.sidebar-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.icon {
    transform: translateY(3px);
    width: 1.4rem;
    filter: brightness(0) invert(1);
}

.sidebar-btn {
    width: 55px;
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 0.75rem;
    transition: background 0.2s;
    color: #aaa;
}

.sidebar-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-btn.active {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #f0a070;
    color: white;
}

.sidebar-bottom {
    margin-top: auto;
}